name: Cucumber TestNG CI

on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'Manually running the tests'
        required: true
        default: 'Triggered manually'
  

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven # Caches Maven dependencies to speed up subsequent runs

    - name: Run Cucumber TestNG tests with Maven
      run: mvn clean test
      # This command triggers your tests, which should be configured in your pom.xml 
      # or TestNG runner class to run the Cucumber features.
